/* Styling for the toolbar */
.toolbar {
    -fx-background-color: #3F51B5; /* Set background color */
    -fx-background-radius: 7; /* Set border radius */
    -fx-padding: 10px; /* Add some padding */
}

/* Hover effect for buttons */
.toolbar .button:hover {
    -fx-background-color: #4f5158; /*Change button background color on hover*/
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.toolbar .button {
    -fx-background-color:  #b2b7c6;
}
.splitPane .button:hover {
    -fx-cursor: hand;

}

.button {
    -fx-cursor: hand;
    -fx-background-color: #b2b7c6;
}
